Repository logicmonitor/helm-charts, pull requests merged in 2023-09, with the labels that each got.

#113 feat(rel-lmutil): release lmutil charts
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#116 feat(rel-argus-7.0.0): release argus 7.0.0 charts
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/collectorset.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/templates/secret.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#114 feat(rel-csc-6.0.0): release csc charts 6.0.0
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/_helpers.tpl
  charts/collectorset-controller/templates/configmap.yaml
  charts/collectorset-controller/templates/csc-rbac.yaml
  charts/collectorset-controller/templates/deployment.yaml
  charts/collectorset-controller/templates/secret.yaml
  charts/collectorset-controller/values.schema.json
  charts/collectorset-controller/values.yaml
Labels: collectorset-controller

#115 feat: 🎸 add lm-logs to umbrella chart
  charts/lm-logs/.helmignore
  charts/lm-logs/Chart.yaml
  charts/lm-logs/Dockerfile
  charts/lm-logs/README.md
  charts/lm-logs/ci/base-sanity-values.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/templates/deamonset.yaml
  charts/lm-logs/templates/rbac.yaml
  charts/lm-logs/values.schema.json
  charts/lm-logs/values.yaml
Labels: lm-logs

#118 feat(rel-lmc): release lmc charts v5.0.0
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
  charts/lm-container/values.yaml
Labels: lm-container
