Repository logicmonitor/helm-charts, pull requests merged in 2023-01, with the labels that each got.

#74 feat(lmutil): release lmutil chart
  charts/lmutil/.helmignore
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#76 feat(release csc): release csc chart version 4.1.0
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
  charts/collectorset-controller/templates/_helpers.tpl
  charts/collectorset-controller/templates/collector-rbac.yaml
  charts/collectorset-controller/templates/configmap.yaml
  charts/collectorset-controller/templates/csc-rbac.yaml
  charts/collectorset-controller/templates/deployment.yaml
  charts/collectorset-controller/templates/dummy_cs.yaml
  charts/collectorset-controller/templates/secret.yaml
  charts/collectorset-controller/templates/service.yaml
  charts/collectorset-controller/templates/serviceaccount.yaml
  charts/collectorset-controller/values.schema.json
  charts/collectorset-controller/values.yaml
Labels: collectorset-controller

#75 feat(release-argus-charts): release argus chart version 5.1.0
  charts/argus/Chart.yaml
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/collector-conf.yaml
  charts/argus/templates/collectorset.yaml
  charts/argus/templates/configmap.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/templates/rbac.yaml
  charts/argus/templates/secret.yaml
  charts/argus/templates/service.yaml
  charts/argus/templates/serviceaccount.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#77 feat(release lmc): release container chart v3.1.0
  charts/lm-container/Chart.yaml
  charts/lm-container/templates/_helpers.tpl
  charts/lm-container/templates/configmap.yaml
  charts/lm-container/values.schema.json
Labels: lm-container

#78 feat(lmutil): openshift templates
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_customizations.tpl
  charts/lmutil/templates/_openshift-scc.tpl
  charts/lmutil/templates/_util.tpl
Labels: lmutil

#79 fix(lmutil): updated openshift templates
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_customizations.tpl
  charts/lmutil/templates/_util.tpl
Labels: lmutil
