Repository logicmonitor/helm-charts, pull requests merged in 2023-02, with the labels that each got.

#81 fix(lmutil): allow caps in openshift scc
  charts/lmutil/Chart.yaml
  charts/lmutil/templates/_openshift-scc.tpl
Labels: lmutil

#82 feat(release-csc-4.2.0): release csc charts version 4.2.0
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/crds/collectorset.yaml
  charts/collectorset-controller/templates/deployment.yaml
  charts/collectorset-controller/templates/openshift-scc.yaml
  charts/collectorset-controller/templates/serviceaccount.yaml
  charts/collectorset-controller/values.yaml
Labels: collectorset-controller

#83 feat(release-argus-5.2.0): release argus charts v5.2.0
  charts/argus/Chart.yaml
  charts/argus/templates/_argus_config.tpl
  charts/argus/templates/_collector.tpl
  charts/argus/templates/_helpers.tpl
  charts/argus/templates/collectorset.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/templates/openshift-scc.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#84 feat(release-lmc-3.2.0): release container charts v3.2.0
  charts/lm-container/Chart.yaml
  charts/lm-container/templates/ksm-openshift-scc.yaml
Labels: lm-container
