Repository logicmonitor/helm-charts, pull requests merged in 2024-03, with the labels that each got.

#134 feat(argus-9.0.0): release argus charts for image v13.0.0
  charts/argus/Chart.yaml
  charts/argus/values.yaml
Labels: argus

#135 feat(csc-8.0.0): release csc charts for image v10.0.0
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#137 feat(lmotel): add proxy support using env
  charts/lmotel/Chart.yaml
  charts/lmotel/README.md
  charts/lmotel/templates/daemonset.yaml
  charts/lmotel/templates/statefulset.yaml
  charts/lmotel/values.schema.json
  charts/lmotel/values.yaml
Labels: lmotel

#140 feat(lmc): release lm-container charts v7.0.0
  charts/lm-container/Chart.yaml
Labels: lm-container
