Repository logicmonitor/helm-charts, pull requests merged in 2024-02, with the labels that each got.

#130 feat(csc): release csc charts v7.3.0
  charts/collectorset-controller/Chart.yaml
  charts/collectorset-controller/templates/csc-rbac.yaml
Labels: collectorset-controller

#129 feat(argus): release argus charts v8.3.0
  charts/argus/Chart.yaml
  charts/argus/templates/_collector_config.tpl
  charts/argus/templates/collector-conf.yaml
  charts/argus/templates/deployment.yaml
  uitmpl/lm-container-6.1.0-ui-jsonpaths.json
Labels: argus

#131 fix(lm-logs): fix timed out message from concat plugin causing data loss
  charts/lm-logs/Chart.yaml
  charts/lm-logs/Dockerfile
  charts/lm-logs/README.md
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.schema.json
  charts/lm-logs/values.yaml
Labels: lm-logs

#132 feat(lmc): release lm-container chart v6.2.0
  charts/lm-container/Chart.yaml
Labels: lm-container
