Repository logicmonitor/helm-charts, pull requests merged in 2024-05, with the labels that each got.

#141 feat(rel-argus): release argus charts v9.1.0
  charts/argus/Chart.yaml
  charts/argus/templates/collector-conf.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#142 feat(lmc-rel): release lm-container charts v7.1.0
  charts/lm-container/Chart.yaml
  charts/lm-container/values.schema.json
Labels: lm-container

#143 ci(lm-logs): change user-agent
  charts/lm-logs/Chart.yaml
  charts/lm-logs/templates/_helpers.tpl
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.yaml
Labels: lm-logs

#144 fix(upgrade): hotfix for argus schema failure
  charts/argus/Chart.yaml
  charts/argus/templates/deployment.yaml
  charts/argus/values.schema.json
  charts/argus/values.yaml
Labels: argus

#145 fix(upgrade): release hotfix for upgrade failure issue
  charts/lm-container/Chart.yaml
Labels: lm-container

#147 feat(release): release charts for csc v11.0.0 imageTag
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#146 feat(release): release charts for argus v14.0.0 image tag
  charts/argus/Chart.yaml
Labels: argus
