Repository logicmonitor/helm-charts, pull requests merged in 2025-07, with the labels that each got.

#185 fix(lmlogs): release lm-logs chart v0.7.0
  charts/lm-logs/Chart.yaml
  charts/lm-logs/Dockerfile
  charts/lm-logs/README.md
  charts/lm-logs/templates/configmap.yaml
  charts/lm-logs/values.schema.json
  charts/lm-logs/values.yaml
Labels: lm-logs

#187 feat(csc): releasing collectorset-controller version 11.1.0
  charts/collectorset-controller/Chart.yaml
Labels: collectorset-controller

#188 feat(lmc): release lmc version 11.1.0
  charts/lm-container/Chart.yaml
Labels: lm-container
